<div class="optionBlock">
    <h6>OBS Chat Template: </h6>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="textMessageOption" id="textMessageOption1">
        <label class="form-check-label" for="textMessageOption1">
          S1 Custom
        </label>
        <img src="../images/templateImages/classic.png"/>
      </div>
</div>

<div class="optionBlock">
    <h6>OBS Superchat Template: </h6>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="superchatOption" id="superchatOption1">
        <label class="form-check-label" for="superchatOption1">
          S1 Superchat
        </label>
        <img src="../images/templateImages/superchatNormal.png"/>
      </div>
</div>

<div class="optionBlock">
    <h6>OBS Supersticker Template: </h6>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="superstickerOption" id="superstickerOption1" checked>
        <label class="form-check-label" for="superchatOption1">
          S1 Supersticker
        </label>
        <img src="../images/templateImages/superstickerNormal.png"/>
      </div>
</div>

<style>
    label {
      display: block;
        font-size: small;
    }

    .form-check img {
      display: block;
      margin-top: 10px;
      margin-bottom: 10px;
      width: 100%;
    }

    .form-check {
        text-align: left;
    }

    .optionBlock {
        text-align: left;
    }

    .optionBlock h6 {
        margin-bottom: 5px;
    }

    .optionBlock + .optionBlock {
        margin-top: 50px;
    }
</style>